{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}

<section id="email_confirm" class="book-a-table">
    <div class="container align-items-center justify-content-center" data-aos="fade-up">

        <div class="section-header">
            <h1>{% trans "Confirm E-mail Address" %}</h1>

            {% if confirmation %}

            {% user_display confirmation.email_address.user as user_display %}

            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a
                    href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                {{ user_display }}.{% endblocktrans %}</p>

        </div>

        <div class="row g-0">
            <div class="d-flex align-items-center justify-content-center reservation-form-bg">
                <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}"
                    class="make-booking-form" data-aos="fade-up" data-aos-delay="100">
                    {% csrf_token %}
                    <div class="text-center "><button class="btn btn-primary primaryAction"
                            type="submit">{% trans 'Confirm' %}</button></div>
                </form>
            </div>
            {% else %}

            {% url 'account_email' as email_url %}

            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a
                    href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

            {% endif %}

            {% endblock %}
        </div>
    </div>
</section>