{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<section id="login" class="section-other book-a-table">
  <div class="container align-items-center justify-content-center" data-aos="fade-up">
    <div class="section-header">
      <h2>{% trans "Sign In" %}</h2>
      <p>{% blocktrans %}If you have not created an account yet, then please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    </div>
    <div class="row g-0">
      <div class="d-flex align-items-center justify-content-center reservation-form-bg">
        <form method="POST" action="{% url 'account_login' %}" class="login make-booking-form" data-aos="fade-up"
          data-aos-delay="100">
          {% csrf_token %}
          <div class="row">
            {{ form.login.errors }}
            <div class="col-xl-6 form-group">
              <label for="login">Username</label>
              {{ form.login }}
            </div>
          </div>
          <div class="row">
            {{ form.password.errors }}
            <div class="col-xl-6 form-group">
              <label for="password">Password</label>
              {{ form.password }}
            </div>
          </div>
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
          <div class="text-center "><button class="btn btn-primary primaryAction"
              type="submit">{% trans "Sign In" %}</button></div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}