{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<section id="password_change" class="section-other book-a-table">
    <div class="container align-items-center justify-content-center" data-aos="fade-up">

        <div class="section-header">
            <h1>{% trans "Change Password" %}</h1>
        </div>

        <div class="row g-0">

            <div class="d-flex align-items-center justify-content-center reservation-form-bg">
                <form method="POST" action="{% url 'account_change_password' %}"
                    class="password_change login make-booking-form" data-aos="fade-up" data-aos-delay="100">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-xl-6 form-group">
                            {{ form.as_p }}
                        </div>
                    </div>
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="text-center "><button class="btn btn-primary primaryAction"
                            type="submit">{% trans "Change Password" %}</button></div>
                    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}