{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section id="login" class="section-other book-a-table">
    <div class="container align-items-center justify-content-center" data-aos="fade-up">

        <div class="section-header">
            <h1>{% trans "Password Reset" %}</h1>
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}

            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
            </p>
        </div>

        <div class="row g-0">
            <div class="d-flex align-items-center justify-content-center reservation-form-bg">
                <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset make-booking-form"
                    data-aos="fade-up" data-aos-delay="100">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="text-center "><button class="btn btn-primary primaryAction"
                            type="submit">{% trans 'Sign Out' %}</button></div>
                </form>
                <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}