{% extends "base.html" %}

{% block content %}

{% for booking in bookings %}
<section id="book-a-table" class="section-other book-a-table">
  <div class="card text-center">
    <div class="card-header">
    </div>
    <div class="card-body">
      <h5 class="card-title">Upcoming Booking</h5>
      {{ booking.first_name }} {{ booking.last_name }}
      <p>{{ booking.date_of_booking }} at {{ booking.time_of_booking }}</p>
      <p>This booking is for {{ booking.number_of_people }} people</p>
      <p>Special requests: {{ booking.special_requests }}</p>
      <p>To manage this booking please <a href="accounts/signup/">Login/Register</a> for an account.</p>
      <p>Or <a href="/make">Make new booking</a></p>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
</section>
{% endfor %}
{% endblock content %}