<header id="header" class="header fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto me-lg-0">
      <h1>Burger Bar<span>.</span></h1>
    </a>

    <nav id="navbar" navbar-fixed-top" class="navbar">
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'home' %}#about">About</a></li>
        <li><a href="{% url 'home' %}#menu">Menu</a></li>
        <li><a href="{% url 'home' %}#gallery">Gallery</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
      </ul>
    </nav><!-- .navbar -->

    <a class="btn-book-a-table" href="{% url 'make' %}">Book a Table</a>
    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    <nav class="navbar navbar-fixed-top">
      <ul>
        {% if user.is_staff and user.is_authenticated %}
        <li><a href="{% url 'admin_management' %}">Admin Management</a></li>
        <li><a href="{% url 'manage' %}">Manage Account</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% if messages %}
        {% for message in messages %}
        <ul>
          <li>{{message}}</li>
        </ul>
        {% endfor %}
        {% endif %}
        {% elif user.is_authenticated and user.is_staff == False %}
        <li><a href="{% url 'manage' %}">Manage Account</a></li>
        <li><a href="{% url 'account_logout' %}">Logout</a></li>
        {% if messages %}
        {% for message in messages %}
        <ul>
          <li>{{message}}</li>
        </ul>
        {% endfor %}
        {% endif %}
        {% else %}
        <li><a href="{% url 'account_signup' %}">Register</a></li>
        <li><a href="{% url 'account_login' %}">Login</a></li>
        {% if messages %}
        {% for message in messages %}
        <ul>
          <li>{{message}}</li>
        </ul>
        {% endfor %}
        {% endif %}
        {% endif %}
      </ul>
    </nav>
  </div>
</header>